*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Dosis', sans-serif;
}
html{
    scroll-behavior: smooth;
}
.main-btn{
    height: 40px;
    line-height: 40px;
    font-size: 1.125rem;
    display: inline-block;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 30px;
    position: relative;
}

.main-btn::after,
.main-btn::before{
    position: absolute;
    top: 50%;
    background-color: rgba(255, 255, 255, .3);
    left: 0;
    width: 100%;
    height: 1px;
    content: "";
    transition: all .5s ease-out 0s;
    -webkit-transition:all .5s ease-out 0s ;
    transform: translateY(-20px);
    -webkit-transform:translateY(-20px) ;
}
.main-btn::after{
    transform: translateY(20px);
    -webkit-transform:translateY(20px) ;
}
.main-btn:hover::before{
    transform: rotate(20deg);
    -webkit-transform:rotate(20deg) ;
    background-color: red;
}
.main-btn:hover::after{
    transform: rotate(-20deg);
    -webkit-transform:rotate(-20deg) ;
    background-color: red;
}
.main-btn:hover{
    color: red;
}
/* ....... */
.top-navbar{
    background-color: #333;
}
.top-navbar span{
    font-size: 0.875rem;
    letter-spacing: 0.1062rem;
    color: white;
}
.navigation-wrap{
    position: fixed;
    background-color: rgb(33, 32, 32);
    top: 0;
    left: 0;
    box-shadow: 0 0.125rem 1.75rem rgb(0, 0, 0, 0.09);
}
.navigation-wrap{
    text-align: right;

}
.navigation-wrap a{
    color: white;
}
 .nav-link a{
  
    color: white;
} 
.nav-item a:hover{
    color: red;
}
.carousel-item{
    width: 100%;
    height: 70vh;
}
.carousel-caption{
    top: 2rem;
}
.carousel-caption a{
    text-decoration: none;
}
.carousel-caption p{
    max-width: 36.25rem;
    margin: 1.0625rem auto;
}
/* ........arrival......... */
.arrival{
    padding-top: 50px;
    color: white;
}

#card-info{
    top: 170px;
}
#card-info a{
text-decoration: none;
}
#card{
    margin-top: 30px;
}
.card img{
    transition: all .5s ease-out 0s;
}
.card img:hover{
    transform: scale(1.2);
    opacity: 0.6;
}
/* ....... */
#footer{
    background-color: black;
    height: 70px;
}
#footer .copyright{
    text-align: center;
    float: left;
}
#footer .credits{
    float: right;
    text-align: center;
    font-size: 15px;
}
.credits a{
    text-decoration: none;
    color: white;
}
.credits a:hover{
    color: red;
}

